#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  /* background-image: url("./assets/image/background6.avif");
  background-size: cover; */

  width: 100vw;
  font-family: "Lato", sans-serif;
}
/* .navbar {  
  display: flex;
  justify-content: center;
} */
ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  list-style: none;
}
li {
  font-size: 1.4rem;
}
.header {
  font-family: Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  border: 3px solid black;
  width: fit-content;
  padding-bottom: 5px;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
