#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  /* background-image: url("./assets/image/background6.avif");
  background-size: cover; */
  background-color: black;

  width: 100vw;
  font-family: "Lato", sans-serif;
}
.App {
  background-color: whitesmoke;
}
/* .navbar {  
  display: flex;
  justify-content: center;
} */
ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  list-style: none;
}
li {
  font-size: 1.4rem;
}
.header {
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  border: 3px solid black;
  width: fit-content;
  padding-bottom: 5px;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forminput {
  border-left: 4px solid black; /* add a 1px solid black border to the right */
  border-bottom: 4px solid black; /* add a 1px solid black border to the bottom */
  border-top: none; /* remove the top border */
  border-right: none; /* remove the left border */
  background-color: transparent;
}
